MidtermProject-DillyDally/Library/
MidtermProject-DillyDally/Temp/
MidtermProject-DillyDally/.vs/MidtermProject-DillyDally/v16/Server/sqlite3/db.lock
MidtermProject-DillyDally/.vs/MidtermProject-DillyDally/v15/Server/sqlite3/db.lock
